In [ ]:
import json
import mysql.connector
from datetime import datetime

In [ ]:
db=mysql.connector.connect(host="localhost",user="root",password="Yuigahama@009",database="Twitter_user_data")
if db:
    print("Connection Sucessfull")
else:
    print("Connection Failed")

Connection Sucessfull

In [ ]:
mycursor=db.cursor(buffered=True)

In [ ]:
mycursor.execute("SHOW Tables Like 'user';")
result=mycursor.fetchone()


create_table="""CREATE Table user
(
Id BIGINT,
Id_str VARCHAR(255),
Name VARCHAR(255),
Screen_Name VARCHAR(255),
Location VARCHAR(255),
Description VARCHAR(255),
Verified VARCHAR(5),
Followers_Count BIGINT,
Favorites_Count BIGINT,
Created_At DATETIME,
Friends_Count BIGINT,
PRIMARY KEY(Id),
INDEX(Id,Screen_Name)
);
"""

if result:
    mycursor.execute("DROP Table user;")
    print("The Table User already exists dropping the table........\n")
mycursor.execute(create_table)
print("The Table User has been created")

The Table User already exists dropping the table........

The Table User has been created

In [ ]:
def insert_data_mysql(record,mycursor):
    insert_query="""
        INSERT INTO user(
        Id,
        Id_str,
        Name,
        Screen_Name,
        Location,
        Description,
        Verified,
        Followers_Count,
        Favorites_Count,
        Created_At,
        Friends_Count) VALUES ({},"{}","{}","{}","{}","{}",'{}',{},{},'{}',{})
        ;""".format(*record)
    mycursor.execute(insert_query)
    db.commit()

In [ ]:
def update_mysql(record,mycursor):
    update_query="""
    UPDATE user
    SET
    Location="{}",
    Description="{}",
    Verified='{}',
    Followers_Count={},
    Favorites_Count={},
    Friends_Count={}
    ;""".format(record[4],record[5],record[6],record[7],record[8],record[10])
    mycursor.execute(update_query)
    db.commit()

In [ ]:
tweets=[ ]
with open('corona-out-3.json','r') as r1:
        json_data=json.load(r1)
        tweets=json_data

In [ ]:

with open('corona-out-2','r') as r2:
    json_data=json.load(r2)
    tweets=json_data

In [ ]:
def escapefromstring(s):
    s_new = ""
    if s==None:
        return s
    else:
        for i in s:
            if (i == "\'" ) or (i == "\""):
                s_new+="\\"
            s_new+=i
    return s_new

In [ ]:
escapefromstring("Cape Town  \/''V''''''V\\")

"Cape Town  \\/\\'\\'V\\'\\'\\'\\'\\'\\'V\\"

In [ ]:
record=[tweets[1]['user']['id'],tweets[1]['user']['id_str'],tweets[1]['user']['name'],
        tweets[1]['user']['screen_name'],tweets[1]['user']['location'],
        escapefromstring(tweets[1]['user']['description']),tweets[1]['user']['verified'],
        tweets[1]['user']['followers_count'],tweets[1]['user']['favourites_count'],
        datetime.strftime(datetime.strptime(tweets[1]['user']['created_at'],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S'),
        tweets[1]['user']['friends_count']]

In [ ]:
len(tweets)

101916

In [ ]:
len(tweets)

2

In [ ]:
for i in range(len(tweets)):
        records=[tweets[i]['user']['id'],tweets[i]['user']['id_str'],escapefromstring(tweets[i]['user']['name']),
            escapefromstring(tweets[i]['user']['screen_name']),escapefromstring(tweets[i]['user']['location']),
            escapefromstring(tweets[i]['user']['description']),tweets[i]['user']['verified'],
            tweets[i]['user']['followers_count'],tweets[i]['user']['favourites_count'],
            datetime.strftime(datetime.strptime(tweets[i]['user']['created_at'],'%a %b %d %H:%M:%S +0000 %Y'),'%Y-%m-%d %H:%M:%S'),
            tweets[i]['user']['friends_count']]
        #print(records)
        mycursor.execute("SELECT id FROM user WHERE id={}".format(records[0]))
        if not mycursor.fetchone():
            try:
                insert_data_mysql(records,mycursor)
                print("Twitter User Data Added")
            except:
                print("Error Occured sdhakfsdkfhjbfmabfksdhgfasfbnflhsdjflasbfaslkgh")
                print(records)
        #    update_mysql(records,mycursor)
        #    print("Twitter User Update Data Added")
        #else:
        #insert_data_mysql(records,mycursor)
        
        if (tweets[i]['text'].startswith('RT')):
            if 'retweeted_status' in tweets[i]:
            #if tweets[i]['retweeted_status']!=None:
                retweet_data=[tweets[i]['retweeted_status']['user']['id'],
                              tweets[i]['retweeted_status']['user']['id_str'],
                              escapefromstring(tweets[i]['retweeted_status']['user']['name']),                              escapefromstring(tweets[i]['retweeted_status']['user']['screen_name']),
                              escapefromstring(tweets[i]['retweeted_status']['user']['location']),
                              escapefromstring(tweets[i]['retweeted_status']['user']['description']),
                              tweets[i]['retweeted_status']['user']['verified'],
                              tweets[i]['retweeted_status']['user']['followers_count'],
                              tweets[i]['retweeted_status']['user']['favourites_count'],
                              datetime.strftime(datetime.strptime(tweets[i]['retweeted_status']['user']['created_at'],'%a %b %d %H:%M:%S +0000 %Y'),'%Y-%m-%d %H:%M:%S'),
                              tweets[i]['retweeted_status']['user']['friends_count']]    
                mycursor.execute("SELECT id FROM user WHERE id={}".format(retweet_data[0]))
                #print("Retweet Data addedd too")
                #print(retweet_data)
                if not mycursor.fetchone():
                    try:
                        insert_data_mysql(retweet_data,mycursor)
                        print("Retweet User Data added too")
                    except:
                        print(records)


                        
                #    update_mysql(retweet_data,mycursor)
                #    print("Retweeter User Update Data added too")
                #else:

In [ ]:
def search_id(record):
    search_query="""
    SELECT * FROM user WHERE id={};""".format(record)
    mycursor.execute(search_query)

In [ ]:
def search_name(record):
    search_query="""
    SELECT * FROM user WHERE screen_name='{}';""".format(record)
    mycursor.execute(search_query)

In [ ]:
mycursor.execute("SELECT * FROM user Where Id=568857221")

In [ ]:
mycursor.fetchall()

[]

In [ ]:
def Order_10():
    mycursor.execute("SELECT * FROM user ORDER BY followers_count DESC LIMIT 10;")
    return mycursor.fetchall()

In [ ]:
Order_10()

[(18839785,
  '18839785',
  'Narendra Modi',
  'narendramodi',
  'India',
  'Prime Minister of India',
  'True',
  55786179,
  0,
  datetime.datetime(2009, 1, 10, 17, 18, 56),
  2364),
 (145125358,
  '145125358',
  'Amitabh Bachchan',
  'SrBachchan',
  'Mumbai, India',
  '"तुमने हमें पूज पूज कर पत्थर कर डाला ; वे जो हमपर जुमले कसते हैं हमें ज़िंदा तो समझते हैं "~  हरिवंश राय  बच्चन',
  'True',
  41596464,
  75,
  datetime.datetime(2010, 5, 18, 5, 16, 47),
  1833),
 (101311381,
  '101311381',
  'Shah Rukh Khan',
  'iamsrk',
  'None',
  'None',
  'True',
  40026760,
  32,
  datetime.datetime(2010, 1, 2, 20, 55, 43),
  77),
 (471741741,
  '471741741',
  'PMO India',
  'PMOIndia',
  'India',
  'Office of the Prime Minister of India',
  'True',
  34461808,
  0,
  datetime.datetime(2012, 1, 23, 6, 24, 52),
  486),
 (113419517,
  '113419517',
  'Hrithik Roshan',
  'iHrithik',
  'None',
  'Man on mission- to live the best life possible come what may.',
  'True',
  28170371,
  172,
  datetime.datetime(2010, 2, 11, 18, 6, 33),
  90),
 (405427035,
  '405427035',
  'Arvind Kejriwal',
  'ArvindKejriwal',
  'India',
  'सब इंसान बराबर हैं, चाहे वो किसी धर्म या जाति के हों। हमें ऐसा भारत बनाना है जहाँ सभी धर्म और जाति के लोगों में भाईचारा और मोहब्बत हो, न कि नफ़रत और बैर हो।',
  'True',
  18335920,
  618,
  datetime.datetime(2011, 11, 5, 9, 15, 8),
  221),
 (14293310,
  '14293310',
  'TIME',
  'TIME',
  'None',
  'Breaking news and current events from around the globe. Hosted by TIME staff.',
  'True',
  17057740,
  536,
  datetime.datetime(2008, 4, 3, 13, 54, 30),
  494),
 (69183155,
  '69183155',
  'detikcom',
  'detikcom',
  'Jakarta, Indonesia',
  'Official Twitter of http://www.detik.com. redaksi@detik.com | promosi@detik.com | Android: http://detik.com/android iPhone: http://detik.com/iphone',
  'True',
  15927868,
  313,
  datetime.datetime(2009, 8, 27, 3, 3, 5),
  28),
 (62513246,
  '62513246',
  'J.K. Rowling',
  'jk_rowling',
  'Scotland',
  'Writer sometimes known as Robert Galbraith',
  'True',
  14608046,
  27353,
  datetime.datetime(2009, 8, 3, 13, 23, 45),
  721),
 (186712788,
  '186712788',
  'jose marie viceral',
  'vicegandako',
  'Earth',
  'Supermodel turned actress turned horse',
  'True',
  13527555,
  135,
  datetime.datetime(2010, 9, 4, 5, 12, 31),
  517)]